<h3>
    Wizard with dynamic components
</h3>
<div class="wizard">
    <app-wizard title="Questionaire">
        <app-step1 app-wizardStep>
        </app-step1>
        <app-step2 app-wizardStep>
        </app-step2>
        <app-step3 app-wizardStep>
        </app-step3>
    </app-wizard>
</div>

<div class="wizard">
    <app-wizard title="Questionaire with more steps">
        <app-step1 app-wizardStep>
        </app-step1>
        <app-step2 app-wizardStep>
        </app-step2>
        <app-step3 app-wizardStep>
        </app-step3>
        <app-step1 app-wizardStep>
        </app-step1>
        <app-step2 app-wizardStep>
        </app-step2>
        <app-step3 app-wizardStep>
        </app-step3>
    </app-wizard>
</div>