<div class="wizard-container">
    <div *ngIf="!showSummary">
        <h1>{{title}}</h1>
        <ng-content></ng-content>
        <div class="buttons-container">
            <button (click)="handleBack()" [disabled]="disableBack" mat-raised-button type="button"
                color="accent">Back</button>
            <button *ngIf="!hideNext" (click)="handleNext()" mat-raised-button type="button"
                color="primary">Next</button>

            <button *ngIf="hideNext" (click)="handleSubmit()" mat-raised-button type="button"
                color="primary">Submit</button>
        </div>
    </div>
    <div *ngIf="showSummary" class="wizard-summary">
        <app-summary [summary]="summary" (clear)="clearSummary()"></app-summary>
    </div>
</div>